.noproductsfound {
    height: 125px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.continueshopping {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.highlighter {
    -webkit-tap-highlight-color: transparent;
}

#loadingss {
    opacity: .5;
    filter: alpha(opacity=5);
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    position: fixed;
    background: url(https://alpha-assets.stylori.com/images/static/loadingimg.gif) 50% 50% no-repeat #fff;
}

.overall-loader {
    /* margin-left: 40% !important;
    margin-top: 20% !important; */
}

.overlayloadingfilter {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    cursor: pointer;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.rightContent {
    width: 100%;
    height: auto;
    font-size: 13px;
    padding-bottom: 12px;
    color: #666;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px !important;

}

.rightImg {
    height: auto;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
}

.mainContent {
    width: 94%;
    padding: 15px 25px 15px 25px;
}

.sideContent {
    width: 15%;
    margin-top: 5px;
    border-right: 1px solid #e8e8e8;
    padding-top: 10px;

}

.mainWidth {
    width: 100%;
}

.imgPadding {
    padding-top: 10px;
    padding-bottom: 20px;
}

.GridListImg {
    width: 100%;
    height: auto,
}

.menuqans {
    width: 100%;
    height: auto,
}

.fifty {
    width: 50%;
}

.aboutFifty {

    width: 50% !important;
    float: left;

}

.fiftyImg {
    width: 50%;

}

.aboutwidth {
    max-width: 1170px;
    margin: auto
}

.aboutMargin {
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width:2560px) and (min-width:1441px) {
    .mainContent {
        width: 77%;
        padding: 13px 8px 40px 50px;

    }

    .sideContent {
        width: 15%;
        margin-top: 5px;
        border-right: 1px solid #e8e8e8 !important;
        margin-left: 0px !important;
        padding-right: 30px;

    }

    .rightImg {
        height: auto;
        padding-bottom: 12px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (max-width:1440px) and (min-width:1025px) {
    .mainWidth {
        width: 100%;
    }

    .mainContent {
        width: 76%;
        padding: 18px 20px 20px 40px;

    }

    .sideContent {
        width: 15%;
        margin-top: 5px;
        border-right: 1px solid #e8e8e8 !important;
        margin-left: 0px !important;
        padding-right: 10px;
        padding-left: 15px;

    }

    .rightContent {
        width: 100%;
        font-size: 13px;
        padding-bottom: 12px;
        padding-left: 15px;
        padding-right: 15px;
        color: #666;
        margin: 0px !important;

    }

    .imgPadding {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .rightImg {
        height: auto;
        padding-bottom: 12px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .fifty {
        width: 50%;
    }

    .aboutFifty {
        width: 50% !important;
        float: left;

    }

    .aboutMargin {
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (max-width:1024px) and (min-width:960px) {
    .mainWidth {
        width: 100%;
    }

    .rightImg {
        height: auto;
        padding-bottom: 12px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .imgPadding {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .rightContent {
        width: 100% !important;
        /* height: auto; */
        margin: 0px !important;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 13px;
        padding-bottom: 12px;
        color: #666 !important;
    }

    .fifty {
        width: 50%;
    }

    .full {
        width: 100%;
    }

    .mainContent {
        width: 71%;
        padding: 14px 10px 10px 30px;
    }

    .fiftyImg {
        width: 50%;
    }

    .sideContent {
        width: 20%;
        margin-top: 5px;
        padding-left: 10px;
        border-right: 1px solid #e8e8e8;


    }

    .aboutFifty {
        width: 50% !important;
        float: left;
    }

    .aboutMargin {
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (max-width: 959x) and (min-width: 769px) {
    .mainContent {
        width: 100% !important;
        padding: 10px 15px 10px 15px;

        height: auto;
    }

    .mainWidth {
        width: 100%;
    }

    .rightImg {
        width: 100%;
        height: auto;
        padding-bottom: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .rightContent {
        width: 100%;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;

        font-size: 13px;
        padding-bottom: 12px;
        color: #666;

    }

    .imgPadding {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .aboutFifty {
        width: 100% !important;
    }

    .aboutMargin {
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (max-width: 768px) and (min-width: 0px) {
    .GridListImg {
        width: 100%;
        height: auto,
    }

    .imgPadding {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    /* .aboutwidth{
      width: 750px;
    } */
    .menuqans {
        width: 100%;
        height: auto,
    }

    .mainContent {
        width: 100%;
        padding: 10px 15px 10px 15px;

        height: auto;
    }

    .mainWidth {
        width: 100%;
    }

    .rightImg {
        width: 100%;
        height: auto;
        padding-bottom: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .rightContent {
        width: 100%;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;

        font-size: 13px;
        padding-bottom: 12px;
        color: #666;

    }

    .aboutFifty {
        width: 100% !important;
    }

    .aboutMargin {
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (max-width: 320px) {
    .fiftyImg {
        width: 50%;
        align-items: center;
        display: flex;
    }
}

@media only screen and (min-width: 1200px) {
    .GridListImg {
        width: 1170px;
        height: auto,
    }

    .menuqans {
        width: 1170px;
        height: auto,
    }

}

.GridConatiner {
    width: 100%;
    justify-content: center;
    display: flex;
}

.slickdev {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
    display: inline-flex !important;
    justify-content: center;
}

.slickdev li {
    border: 0px;
    background-color: #FFF;
    width: 10px;
    height: 10px;
    margin: 0px 7px;
    border-radius: 100%
}

.slickdev li button {
    border: 0px;
    background-color: rgb(219, 213, 213);
    width: 11px;
    height: 11px;
    /* display: none; */
}

.slickdev li.slick-active {
    background-color: #ed1564 !important;
    /* box-shadow: 0px 4px 5px #888888 !important; */
    border: 0px solid #ed1564;
    border-radius: 100%;
    width: 11px;
    height: 11px;
}

.slickdev li button:before {
    font-family: 'slick';
    font-size: 0px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slickdev li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-prev {
    z-index: 10;
    left: 10px !important;
}

.slick-next {
    z-index: 10;
    right: 18px !important;
}

.slick-prev:before,
.slick-next:before {
    color: #fff !important;
    font-size: 30px !important;
}

/* .card {
    animation: rotate 4s ease infinite;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

@keyframes rotate {

    8%,
    to {
        transform: rotateY(360deg);
    }
} */
